<p-card [header]="title">
  <div class="p-grid p-fluid">
    <div class="p-field p-col-12 p-d-flex p-jc-start" *ngIf="medico.fotoUrl != null && medico.fotoUrl != ''">
      <p-card [style]="{width: '250px'}">
        <img [src]="medico.fotoUrl" alt="foto" width="100%">
      </p-card>
    </div>

    <div class="p-field p-col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">CMP</span>
        <p-inputNumber mode="decimal" inputId="cmp" [useGrouping]="false" [(ngModel)]="medico.cmp" >
        </p-inputNumber>
      </div>
    </div>

    <div class="p-field p-col-12">
      <label for="apellidos">Apellidos</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="" id="apellidos"  [(ngModel)]="medico.apellidos" >
      </div>
    </div>

    <div class="p-field p-col-12">
      <label for="nombres">Nombres</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
        <input type="text" pInputText placeholder="" id="nombres" [(ngModel)]="medico.nombres" >
      </div>
    </div>

    <div class="p-field p-col-12">
      <label for="fotoUrl">Foto URL</label>
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon"><i class="pi pi-image"></i></span>
        <input type="text" pInputText placeholder="" id="fotoUrl" [(ngModel)]="medico.fotoUrl" >
      </div>
    </div>
  </div>
  <div>
    <button pButton pRipple type="button" label="Guardar" icon="pi pi-save" Class="p-mx-1" (click)="saveMedico()"></button>
    <button pButton pRipple type="button" label="Cancelar" icon="pi pi-times" Class="p-button-secondary p-mx-1" (click)="close()"></button>
  </div>
</p-card>


