@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");

:root {
  --backgroud-main: #f1f3f5;
  --text-color: #001737;
}

body {
  background-color: var(--backgroud-main);
  color: var(--text-color);
  font-family: IBM Plex Sans, sans-serif;
}

.form-group {
  display: grid;
}
